@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@700&display=swap');

* {
    font-family: 'Noto Sans JP', sans-serif;
}

.App {
    text-align: center;
    background-color: #FFF;
    width: 100%;
    height: 100vh;
    color: #000;
}

body {
    padding: 0%;
    margin: 0;
}

nav {
    height: 50px;
    margin: auto;
    border-bottom: 1px solid #d3d6da;
    padding: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav > h1 {
    margin: auto;
    color: #000;
    font-size: 35px;
    text-align: center;
}

.nav-left, .nav-right {
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: flex-start;
    width: 50px;
    gap: 1vw;
}

.nav-right {
    justify-content: flex-end!important;
}

.nav-left > a , .nav-right > a {
    display: flex;
}

.nav-left > button, .nav-right > button {
    padding: 0;
    margin: 0;
    display: flex;
    border: 0;
    background: transparent;
    cursor: pointer;
}

.game {
    width: 100%;
    max-width: 500px;
    height: calc(100% - 55px);
    margin: 0 auto;
    display: grid;
    grid-template-rows: 1fr;
    align-items: center;
}

.imageContent {
    padding: 10px;
}

.imageBox {
    /* display: flex;
    align-items: center;
    justify-content: center; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 8px;
    overflow: hidden;
    /* min-height: 300px; */
}

.imageCanvas {
    max-width: 100%; 
    max-height: 100%;
    border-radius: 5px;
}

.resultBoard {
    padding: 10px 20px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 5px;
    justify-items: center;
}

.Guess {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 15px 0;
}

.square {
    border-radius: 15%;
    border: 2px solid #d3d6da;
    width: 80%;
    box-sizing: border-box;
    display: inline-flex;
}

.square::before {
    content: '';
    padding-bottom: 100%;
}

.inputrow {
    width: 95%;
    display: flex;
    margin: 5px;
}

.selectlist {
    display: grid!important;
    grid-template-columns: 2.5fr 3.5fr;
    grid-gap: 5px;
}

.selectlist > select {
    border-radius: 5px;
    padding: 5px 0;
    width: 100%;
    font-size: medium;
    border: 1px solid rgb(43 117 255);
}

.selectlist > select:active{
    border: 1px solid rgb(43 117 255);
}

.submitlist {
    justify-content: space-evenly;
}

.submitlist > button {
    width: 45%;
    background: #FFF;
    border: 1px solid rgb(43 117 255);
    border-radius: 5px;
    font-size: large;
    box-shadow: 0 2px 2px rgb(43 117 255 / 80%);
    padding: 10px 0;
}

.submitlist > button:active{
    background: rgb(43 117 255);
    color: #FFF;
}

.Sakura {
    background: rgb(43 117 255)!important;
    color: #FFF!important;
}

#skip {
    outline: 1px solid #d3d6da!important;
    border: 5px #f6f7f8 solid!important;
    background: #cfcfcf!important;
}

#correct {
    border:#6aaa64;
    background: #97e390!important;
}

#almost {
    border:#ffd93a;
    background: #fcdf67!important;
}

#error {
    border: #c0c0c0;
    background: #cccccc!important;
}

.overlay {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    background-color:rgba(255, 255, 255, 0.5);;
    z-index: 3000;
}

.show {
    display:flex;
    position: fixed;
}

.content {
    display: flex;
    position: relative;
    border-radius: 8px;
    border: 1px solid #f6f7f8;
    background-color: #ffffff;
    box-shadow: 0 4px 23px 0 rgb(0 0 0 / 20%);
    width: 90%;
    max-height: 90%;
    overflow-y: auto;
    animation: SlideIn 200ms;
    max-width: 500px;
    padding: 16px;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;    
    justify-content: flex-start
}

.content h2{
    margin: 2px;
}

.content-countdown {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 15px;
}

.content-countdown > span {
    margin-right: 5px;
}


@keyframes SlideIn {
    0% {
        transform: translateY(30px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

.closebtn{
    width: 35px;
    height: 35px;
    position: absolute;
    top: 16px;
    right: 16px;
    background: #FFF;
    border:0;
    cursor: pointer;
}

.content > img {
    width: 95%;
}

.cardname {
    padding: 10px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #ececec;
}

.btnlist {
    padding: 10px 0;
    width: 95%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    justify-items: center;
}

.sharebtn {
    background: #6aaa64;
    color: #FFF;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    width: 95%;
    font-size: 15px;
    height: 50px;
    margin: 5px;
}

.sharebtn > span {
    padding: 0 15px;
}

.sharebtn:hover {
    background: rgb(106, 170, 100, .8);
}

.tweet {
    background: #1DA1F2!important;
}

.tweet:hover {
    background: rgb(29, 161, 242, .8)!important;
}

.toaster {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, 0);
    pointer-events: none;
    width: fit-content;
    z-index:5000;
}

.toaster-content {
    display: flex;
    position: relative;
    border-radius: 8px;
    border: 1px solid #ffc107;
    background-color: #ffc107;
    color: #f6f7f8;

    box-shadow: 0 4px 23px 0 rgb(0 0 0 / 20%);
    width: 100%;
    max-height: 90%;
    overflow-y: auto;
    padding: 16px;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    animation: SlideIn 200ms;
}

.statistic-container {
    margin: 15px 0;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}


.Tech-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px 0;
    border-bottom: 1px solid #ececec;
    text-align: start;
}

.Tech-container > p {
    margin: 0;
}

.square-container{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 5px;
    padding: 10px 0;
    text-align: start;
}

.square-Tech-container{
    display: grid;
    grid-template-columns: 1fr 6.5fr;
    align-items: center;
    gap: 5px;
}

.square-Tech-container > p {
    margin: 0;
}

.stat {
    text-align: center;
}

.stat > h4 {
    margin: 2px;
}

.graph-container {
    display: flex;
    width: 100%;
    margin: 10px 0;
    border-top: 1px solid #ececec;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.graph-container > span {
    margin: 10px 0;
    font-size: large;
}

.guess-distribution {
    width: 80%;
}

.graph {
    width: 100%;
    height: 20px;
    display: flex;
    align-items: center;
    padding-bottom: 4px;
    font-size: 14px;
    line-height: 20px;
}

.graph-bar {
    width: 100%;
    height: 100%;
    padding-left: 4px;
}

.bar {
    display: flex;
    position: relative;
    height: 100%;
    background: #787c7e;
    justify-content: flex-end;
    width: 20px;
}

.bar-num {
    padding-right: 5px;
    color: ivory;
}


@media screen and (max-width: 500px) {
    .App {
        height: auto !important;
    }

    nav {
        padding: 0 10px;
    }

    nav h1 {
        font-size: 20px;
    }

    .game {
        height: auto !important;
        justify-content: normal!important;
    }

    .content{
        text-align: center;
        padding-top: 50px;
    }

    .statistic-container{
        width: auto;
    }

    .imageBox{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        margin: 8px 16px ;
    }
}
